.dropzone-component
  position: relative
  height: 100%

  .upload-hint
    margin: 0
    overflow: hidden
    &:hover
      cursor: pointer
    .hidden-file-upload-button
      text-align: left
      position: absolute
      font-size: 200px
      right: -10px
      top: -10px
      cursor: pointer
      &:focus
        outline: 0

  .upload-hover-hint, .upload-drag-hint
    position: absolute
    padding-top: 1em
    border: 1px dashed transparent
    z-index: 1000
    height: 100%
    width: 100%
    text-align: center
    vertical-align: middle
    display: none
    top: 0
    left: 0

  .upload-hover-hint
    z-index: 1001

  &.file-page-hover .upload-drag-hint
    border-color: $base0
    display: block
    background-color: #fff
  &.file-hover .upload-hover-hint
    border-color: $base0
    background-color: $base2
    display: block
