.gallery-component
  @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3)

.gallery-component
  .container
    @include outer-container
    @include row(table)
    max-width: 1280px
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto

  .fotorama-container
    @include span-columns(9)
    line-height: 0

  .controls-container
    @include span-columns(3)
    @include reset-display
    position: relative
    max-width: 320px
    vertical-align: top
    padding: 1em
    padding-top: 2em
    p
      margin: 1em 0
    textarea
      margin: 1em 0 0 0
      resize: none
      width: 100%
    .placeholder
      font-style: italic
      color: darken($base00, 5%)
    .description
      cursor: pointer
    .place
      display: block
      position: absolute
      bottom: 0
      div
        margin: 1em 0
      img, span
        display: block
    .position
      position: absolute
      top: 0
      margin: .5em 0
      width: 5em
    .gallery-close
      position: absolute
      right: .5em
      top: .5em
      z-index: 1000
      cursor: pointer
      background-color: transparent
    .tags
      margin-top: 2em
      li
        display: inline
        margin-right: .2em
        text-transform: lowercase


.gallery-component
  &.hidden
    display: none
  height: 100%
  width: 100%
  position: fixed
  left: 0
  top: 0
  z-index: 1001
  background-color: rgba($base03, .9)

  .fotorama-container
    background-color: $base03

  .controls-container
    background-color: $base03


body.gallery-mode
  overflow: hidden !important