.pictures-line-component
  overflow: hidden
  position: relative
  ul
    margin: 0
    padding: 0
    position: relative

  li
    .remove-button
      cursor: pointer
      position: absolute
      right: 0
      top: 0
      height: 0

      height: 0
      width: 0
      border: 20px solid #f4f4f4
      border-bottom: 20px solid transparent
      border-left: 20px solid transparent

      .glyphicon-remove
        display: block
        margin-top: -15px

      color: #aaa
      &:hover
        color: #666

    position: absolute
    transition-property: height, width, left, top
    transition-duration: 0.3s
    overflow: hidden

    &.image-over
      border: 1px solid red

    &.ui-draggable-dragging
      transition-property: none
      z-index: 1000
      opacity: .9

    float: left
    display: inline-block

    list-style: none
    margin: 0

    img
      position: relative
      transition-property: height, width
      transition-duration: 0.3s

    &:last-child
      margin-right: 0

  .placeholder
    background-color: transparent
    margin: -13px 0 0 0
    width: 100%
    user-select: none
    text-align: center
    color: #aaa
    font-weight: lighter
    position: absolute
    top: 50%
