//= require fotorama

$border-radius-base: 2px

@import "header"

@import "bootstrap"

@import "blog"
@import "comp/**/*"

.panel
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.3), 0 4px 15px -5px rgba(0,0,0,0.0)!important
  box-shadow: 0 2px 6px rgba(0,0,0,0.3), 0 4px 15px -5px rgba(0,0,0,0.0)!important

@-webkit-keyframes rotating
  from
    -webkit-transform: rotate(0deg)
  to
    -webkit-transform: rotate(360deg)

.rotating
  -webkit-animation: rotating 1s linear infinite

.progress
  transition-property: top, height
  transition-duration: 1s
  position: absolute
  z-index: 1000
  top: 0
  left: 0
  width: 100%
  background: url('/assets/background_stripes.gif')

