input.moment, form.moment textarea, form.moment input
  padding: 0.2em 0.3em
  &:focus
    outline: 0

input.moment
  margin: 0
  width: 100%
  @include placeholder
    color: $base1
    font-size: 93%

form.moment
  textarea
    margin: 0
    border: 1px solid $base1
    border-bottom: 1px dashed $base01
  .info
    border: 1px solid $base1
    border-top: none
    background-color: #fff
    width: 100%
    padding: 0.2em 0.3em
    .date
      width: 40%
      border: none
      margin: 0
      border-bottom: 1px dashed $base1

form.moment
  position: relative

  .progress
    height: 3px

  textarea
    display: block
    width: 100%
    resize: none
    padding-right: 44px
    border-color: $base1
    margin-bottom: 0

  .upload-hint
    position: absolute
    right: 0.5em
    margin-top: 1em
  button.remove
    background-color: $red
    color: $base3
    border: none
    margin-left: 0.3em


ul.moments
  > li
    border-bottom: 1px solid $base2
    padding: 1em 0
    @include outer-container
  .author
    float: left
    font-size: 0
    img
      border-radius: 2px
  .content
    @include span-columns(11)
    padding-left: 0.5em
  h3.name
    color: $base01
    font-weight: 500
    margin: 0
    margin-top: -0.3em
    a
      font-weight: 200
  p
    margin: 0.4em 0
  .date
    color: $base1

ul.photos
  @include clearfix
  width: 100.5%
  margin: 0
  li
    position: relative
    float: left
    margin-right: 3px
    padding: 0
    width: 32.7%
    img
      width: 100%
  button.remove
    line-height: 0
    padding: 2px
    margin: 2px
    position: absolute
    top: 0
    right: 0
    border: none
    background: $base2

