//= require location

#content
  width: 800px
  margin: 0 auto

  .select-location-component
    padding: 0
    height: 500px

.location-container
  transition-property: height
  transition-duration: 1s

  .panel-body
    padding: 0


